<html>

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link rel="stylesheet" href="jquery-ui.min.css">
<link rel="stylesheet" href="jquery-ui.theme.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>

<style>
.leftbar{
  /*background-color: #ccc;*/
}
.result-row{
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  cursor: pointer;
}
.result-row:hover{
  background-color: rgb(245, 245, 245);
}
.time{

}
.station-name{
  text-transform: capitalize;
}
.time-details{
  color: #999;
}
.time-details, .journey-details{
  font-size: 13px;
}
.collapsed .collapsable{
  display: none;
}
.menu{
  margin-left: 0;
}
nav{
  /*background-color: rgb(241,240,191);*/
  font-family: 'Pacifico', cursive;
  padding: 0;
}
nav .container{
  padding: 0;

}
nav ul{
  margin: 0;
  padding: 0;
}
nav ul li{
  height: 50px;
  padding: 15px 0;
  line-height: 20px;
  margin: 0;
}
nav a{
  padding: 0 10px;
  color: inherit;
  font-size: 30px;
}
nav a:hover{
  text-decoration: none;
}
nav .logo{
  background-color: rgb(251,187,198);
}
nav .ou{
  background-color: rgb(158,231,214);
}
nav .quand{
  background-color: rgb(197,166,223);
}
nav .active, nav .menu li:hover{
  border-bottom: 2px solid #555;
}
nav .logo span:nth-child(1){
  color: rgb(197,166,223);
}
nav .logo span:nth-child(2){
  color: rgb(158,231,214);
}
nav .logo span:nth-child(3){
  color: rgb(197,166,223);
}
nav .logo span:nth-child(4){
  color: rgb(125,213,237);
}
nav .logo span:nth-child(5){
  color: rgb(158,231,214);
}
nav .logo span:nth-child(6){
  color: rgb(158,231,214);
}
nav .logo span:nth-child(7){
  color: rgb(241,240,191);
}
nav .logo span:nth-child(8){
  color: rgb(125,213,237);
}
.col-submit{
  text-align: right;
  margin-top: 5px;
}
.more-filters{
  display: none;
}
form .arrow{
  text-align: center;
  font-size: 25px;
}
input[type=text]{
  border-radius: 0;
  border: 0;
}
.submit-col{
  z-index: 10;
}
input[type=submit]{
  height: 34px;
  padding: 12px;
  border: 0;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.form-wrapper{
  background-color: rgb(197,166,223);
  padding-bottom: 15px;
}
form{
  margin: 0;
}
.results-wrapper{
  border-left: 1px solid #ccc;
}
.form-wrapper{
  padding-top: 20px;
}
.col-week{
  padding-top: 20px;
  text-align: right;
}
.col-price{
  padding-top: 10px;
  text-align: center;
  font-family: 'Patrick Hand', cursive;
  color: rgb(178, 150, 202);
  font-size: 26px;
}
</style>

</head>

<body>

<nav>
  <div class="container">
    <ul class="list-inline pull-right">
      <li class="logo">
        <a href="#">
          <span>s</span><span>n</span><span>c</span><span>f</span><span>.</span><span>l</span><span>o</span><span>l</span>
        </a>
      </li>
    </ul>
    <ul class="list-inline menu">
      <li class="ou">
        <a href="#">Où ?</a>
      </li><li class="quand active">
        <a href="index.html">Quand ?</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container main-container">

  <div class="row">
    <div class="col-md-4 form-wrapper">

      <form class="form-horizontal" id="search-form">
        <div class="row">
          <div class="col-xs-5">
            <input type="text" class="form-control" id="departure_city" value="Paris">
          </div>
          <div class="col-xs-1 arrow">➔</div>
          <div class="col-xs-5">
            <input type="text" class="form-control" id="arrival_city" value="Avignon">
          </div>
          <div class="col-xs-1 col-submit">
            <input type="submit" class="submit-button" value="✓">
          </div>

        </div>


        <div class="more-filters">
          <div class="form-group">
            <label for="inwards_departure_hour" class="col-sm-4 control-label">Partir après</label>
            <div class="col-sm-8">
              <select class="form-control" id="inwards_departure_hour">
                <option value="0">00h</option>
                <option value="1">01h</option>
                <option value="2">02h</option>
                <option value="3">03h</option>
                <option value="4">04h</option>
                <option value="5">05h</option>
                <option value="6">06h</option>
                <option value="7">07h</option>
                <option value="8">08h</option>
                <option value="9">09h</option>
                <option value="10">10h</option>
                <option value="11">11h</option>
                <option value="12">12h</option>
                <option value="13">13h</option>
                <option value="14">14h</option>
                <option value="15">15h</option>
                <option value="16">16h</option>
                <option value="17">17h</option>
                <option value="18" selected="true">18h</option>
                <option value="19">19h</option>
                <option value="20">20h</option>
                <option value="21">21h</option>
                <option value="22">22h</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="backwards_departure_hour" class="col-sm-4 control-label">Revenir après</label>
            <div class="col-sm-8">
              <select class="form-control" id="backwards_departure_hour">
                <option value="0">00h</option>
                <option value="1">01h</option>
                <option value="2">02h</option>
                <option value="3">03h</option>
                <option value="4">04h</option>
                <option value="5">05h</option>
                <option value="6">06h</option>
                <option value="7">07h</option>
                <option value="8">08h</option>
                <option value="9">09h</option>
                <option value="10">10h</option>
                <option value="11">11h</option>
                <option value="12">12h</option>
                <option value="13">13h</option>
                <option value="14">14h</option>
                <option value="15">15h</option>
                <option value="16" selected="true">16h</option>
                <option value="17">17h</option>
                <option value="18">18h</option>
                <option value="19">19h</option>
                <option value="20">20h</option>
                <option value="21">21h</option>
                <option value="22">22h</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="commercial_card" class="col-sm-4 control-label">Carte de réduction</label>
            <div class="col-sm-8">
              <select class="form-control" id="commercial_card">
                <option value="">Sans carte</option>
                <option value="JEUNE" selected="selected">Carte Jeune</option>
                <option value="WEEK_END">Carte Week-end</option>
                <option value="ACCOMPAGNANT_WEEK_END">Accompagnant Week-end</option>
                <option value="SENIOR_PLUS">Carte Senior +</option>
                <option value="FORFAIT_BAMBIN">Forfait bambin (siège réservé)</option>
                <option value="ENFANT_PLUS">Carte Enfant +</option>
                <option value="ACCOMPAGNANT_ENFANT_PLUS">Accompagnant Enfant +</option>
                <option value="ENFANT_FAMILLE">Carte Enfant Famille</option>
                <option value="FAMILLE_NOMBREUSE_30PC">Famille Nombreuse 30 %</option>
                <option value="FAMILLE_NOMBREUSE_40PC">Famille Nombreuse 40 %</option>
                <option value="FAMILLE_NOMBREUSE_50PC">Famille Nombreuse 50 %</option>
                <option value="FAMILLE_NOMBREUSE_75PC">Famille Nombreuse 75 %</option>
                <option value="MILITAIRE_1ERE">Carte Militaire 1ère</option>
                <option value="MILITAIRE_2NDE">Carte Militaire 2nde</option>
                <option value="FAMILLE_MILITAIRE">Carte Famille Militaire</option>
                <option value="FREQUENCE_1">Abonnement Fréquence 1ère</option>
                <option value="FREQUENCE_2">Abonnement Fréquence 2nde</option>
                <option value="ABONNEMENT_FORFAIT_1ERE">Abonnement Forfait 1ère</option>
                <option value="ABONNEMENT_FORFAIT_2NDE">Abonnement Forfait 2nde</option>
                <option value="FREQUENCE_INTERMEDIAIRE_1">Abo Fréquence 25 1ère</option>
                <option value="FREQUENCE_INTERMEDIAIRE_2">Abo Fréquence 25 2nde</option></select>
              </select>
            </div>
          </div>
        </div>

      </form>
    </div>

    <div class="col-md-8 results-wrapper">
      <div id="results">

      </div>
    </div>
  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src="jquery-ui.min.js"></script>
<script src="datepicker-fr.js"></script>

<script>
  Date.prototype.getWeekNumber = function(){
    var d = new Date(+this);
    d.setHours(0,0,0);
    d.setDate(d.getDate()+4-(d.getDay()||7));
    return Math.ceil((((d-new Date(d.getFullYear(),0,1))/8.64e7)+1)/7);
  };
  var getNextDay = function(date, dayOfWeek) {  // 0 is sunday
    date = new Date(date.getTime());
    date.setDate(date.getDate() + (dayOfWeek + 7 - date.getDay()) % 7);
    return date;
  };

  $(document).ready(function(){

    $("#departure_date").datepicker({
      minDate: 0,
      dateFormat: "dd/mm/yy"
    });

    // populate default values
    var tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1);
    $("#departure_date").val($.datepicker.formatDate('dd/mm/yy', tomorrow));

    var rowTemplate = _.template($("#results-row-template").html());

    var currData = {};
    window.currData = currData;

    var renderItems = function(items){
      var weeks = [];
      _.each(currData, function(week){
        if (week["inwards"].length > 0 && week["backwards"].length > 0) {
          week["best_pair"] = {
            "inwards": week["inwards"][0],
            "backwards": week["backwards"][0],
          };
          week["best_pair"]["price"] = week["best_pair"]["inwards"]["price"] + week["best_pair"]["backwards"]["price"]
          weeks.push(week);
        }
      });
      weeks = _.sortBy(weeks, function(w){ return w["best_pair"]["number"] });
      $("#results").html(
        _.map(weeks, function(week){
          return rowTemplate({week: week, best_pair: week["best_pair"]})
        }).join("")
      );
      bindRowEvents();
    };

    var bindRowEvents = function(){
      $(".result-row").click(function(e){
        $(e.currentTarget).toggleClass("collapsed");
      });
    };

    var apiUrl = "http://api.sncf.lol/crawl.json";
    if (["localhost", "", "127.0.0.1"].indexOf(window.location.hostname) >= 0) {
      apiUrl = "http://localhost:9080/crawl.json";
    }

    var callApi = function(departureCity, arrivalCity, date, departureHour, direction, weekOffset){
      $.ajax({
        url: apiUrl,
        method: "POST",
        dataType: "json",
        data: JSON.stringify({
          "request": {
            "url": "http://voyages-sncf.mobi",
            "meta": {
              "departure_city": departureCity,
              "arrival_city": arrivalCity,
              "departure_date": $.datepicker.formatDate('dd/mm/yy', date),
              "departure_hour": departureHour,
              "commercial_card": $("#commercial_card").val()
            }
          },
          "spider_name": "voyagessncf"
        }),
        success: function(data){
          if (data.items.length > 0) {

            _.each(data.items, function(i){ i["departure_datetime"] = new Date(i["departure_datetime"]) });
            datetime = data.items[0]["departure_datetime"]
            weekNumber = datetime.getWeekNumber();
            // for returns on monday or tuesday, consider they're for the previous week
            if (direction == "return" && datetime.getDay() + 1 < 2) {
              weekNumber = weekNumber - 1;
            }

            if (!currData[weekNumber]) {
              currData[weekNumber] = {
                "inwards": [], "backwards": [],
                "number": weekNumber, "weekOffset": weekOffset
              }
            }

            currData[weekNumber][direction] = currData[weekNumber][direction].concat(data.items)
            currData[weekNumber][direction] = _.sortBy(currData[weekNumber][direction], function(i) { return i["price"] });
            renderItems();
          }
        },
        error: function(err){
          $("#results").html("erreur :(");
          console.log(err);
        },
        complete: function(){
          $submitButton.removeAttr("disabled");
        }
      });
    }

    $("#search-form").submit(function(){
      $submitButton = $("#search-form *[type=submit]");
      $submitButton.attr("disabled", "disabled");
      $("#results").html("Crawling voyages-sncf ...");
      currData = {};

      var departureCity = $("#departure_city").val();
      var arrivalCity = $("#arrival_city").val();
      var nextFriday = getNextDay(new Date(), 5);
      for(var i = 0; i < 10; i++) {
        friday = new Date(nextFriday.getTime());
        friday.setDate(friday.getDate() + i * 7);
        var sunday = getNextDay(friday, 0);
        callApi(departureCity, arrivalCity, friday, $("#inwards_departure_hour").val(), "inwards", i + 1);
        callApi(arrivalCity, departureCity, sunday, $("#backwards_departure_hour").val(), "backwards", i + 1);
      }

      return false;
    })
  })
</script>

<script src="http://localhost:35729/livereload.js"></script>

<script type="text/template" id="results-row-template">
  <div class="row result-row collapsed">
    <div class="col-xs-3 col-week">
      <div class="week-number">
        <% if (week.weekOffset == 1) { %>
          La semaine prochaine
        <% } else { %>
          Dans <%= week.weekOffset %> semaines
        <% } %>
      </div>
    </div>

    <div class="col-xs-3 col-price">
      <div class='price'>
        <%= best_pair.price.toFixed(2).replace(".", ",") %>€
      </div>
    </div>

    <% _.each([best_pair.inwards, best_pair.backwards], function(journey) { %>
      <div class="col-xs-3">
        <%= $.datepicker.formatDate('DD dd MM', journey.departure_datetime) %>

        <div>
          <span class='time'>
            <%= journey.departure_time_readable %>
          </span>
          ➔
          <span class='time'>
            <%= journey.arrival_time_readable %>
          </span>
        </div>

        <div class="time-details">
          <%= journey.duration_readable %>
          <% if (journey.changes > 0) { %>
            -
            <span class="changes">
              <%= journey.changes %> chgmts
            </span>
          <% } %>
        </div>

        <div class="collapsable journey-details">
          <span class='station-name'>
            <%= journey.departure_station.toLowerCase() %>
          </span>
          ➔
          <span class='station-name'>
            <%= journey.arrival_station.toLowerCase() %>
          </span>

          <div><%= journey.category %></div>
          <div><i><%= journey.price.toFixed(2).replace(".", ",") %>€</i></div>
        </div>

      </div>
    <% }) %>

  </div>
</script>

</body>
</html>
